:root {
  --theme-elevation-0: #efe6d4;
  --theme-elevation-50: #f7f1e8;
  --theme-elevation-100: #dfd2bc;
  --theme-elevation-200: #c5b59d;
  --theme-elevation-500: #7d694d;
  --theme-elevation-900: #2d241d;
  --theme-bg: #efe6d4;
  --theme-input-bg: #fbf7ef;
  --theme-text: #2d241d;
  --theme-success-500: #647557;
  --theme-warning-500: #a16834;
}

